<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-grid gap-2">
      <button
        type="button"
        class="btn btn-outline-secondary text-start"
        id="home"
      >
        <i class="bi bi-house-door-fill"></i>
        HOME
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary text-start"
        id="todolist"
      >
        <i class="bi bi-list-check"></i>
        TODOLIST
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary text-start"
        id="diary"
      >
        <i class="bi bi-book"></i>
        DIARY
      </button>
    </div>
  </div>
</div>
