/* 使う配色：#28385E #516C8D #6A91C1 #CCCCCC */
.nav-link,
.nav-link:hover {
  color: #cccccc;
}

.tabs,
.header {
  background-color: #28385e;
}

.do {
  background-color: aqua;
}

.check {
  background-color: black;
}
/* ボタンのカスタム */
.bi-plus-circle-fill,
.bi-person-circle {
  color: #cccccc;
}

.active-button {
  color: #516c8d; /* ボタンの背景色を変更 */
  cursor: pointer; /* カーソルをポインターに変更 */
}

.form-check-input:checked + label {
  text-decoration: line-through;
}
.btn-ham,
.btn-ham:hover {
  background-color: #516c8d;
  border-color: #516c8d;
  color: #cccccc;
}

.form-check-input:checked {
  background-color: #28385e;
  border-color: #28385e;
}

.form-check-input:focus {
  border-color: #516c8d;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.offcanvas-start {
  width: 250px;
}
.offcanvas-title {
  color: #516c8d;
}
